{% extends "base.html" %}
{% load static %}


{% block content %}
<h1 align="center" style="color:red">
	{{gameover}}<br />
	{{reason}}
</h1>
	<div class=" mx-auto text-center ">
		
            <img class="img-fluid img-thumbnail rounded" src="{{img.url}}"  width=750px alt="Card image cap">
        
</div> 
<br> 
<div align="center">
		<a  href = "{% url 'story:start' %}" style="text-decoration:none"> <input type="button" value="Play Again" class="btn btn-light" > </a>
		<br>
		<a  href = "{% url 'story:home' %}" style="text-decoration:none"> <input type="button" value="Home" class="btn btn-dark"> </a>
</div>  
{% endblock content %}