{% extends "base.html" %}
{% load static %}


{% block title%}

    <title>game screen</title>

{% endblock %}

 {% block content %}
 		
 		<h1 align="center">What is this game about ?</h1>
 		<p align="center">This is an interactive story telling game in which your choices will determine how the game will proceed</p>
<div align="center">
 			<a href = "{% url 'story:about_game' %}" style="text-decoration:none"> <input type="button" value="How To Play" ></input> </a>    
			<a href = "{% url 'story:start' %}" style="text-decoration:none"> <input type="button" value="Start Game" > </a>
</div>


{% endblock content %}